body {
    margin:0px;
    padding:0px;
    font-family: sans-serif;
    background: url(imagess/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
  
    
  }
   
  .box {
    width: 280px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius:20px;
    transform: translate(-50%,-50%);
    background: #6b4156;
    text-align: center;
     
  }
  .box h1 {
    color: rgb(243, 230, 230);
    text-transform: uppercase;
    font-weight: 500;
  }
   
  .text-input {
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #68b9a5;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: rgb(18, 20, 4);
    border-radius: 25px;
    transition: 0.25s;
  }
   
   
  .text-input:focus {
    width: 250px;
    border-color: #cad1ce;
  }
   
  .box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #026962;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
  }
   
  .box input[type="submit"]:hover {
    background: #3f0132;
  }